h1 {
  text-align:center;
  color: red;
}

td {
  word-break: break-all;
}

#search_options_specialty {
  float: left;
  width: 33%;
}

#search_options_note_part {
  float: left;
  width: 33%;
}

#search_options_note_type {
  float: left;
  width: 33%;
}

.text_submit {
  white_space: pre-wrap;
}

.sores {
  text-align: center;
}
