.container {
  max-width: 100%;
  padding-top: 10px;
}

h1 {
  text-align:center;
  color: red;
}

td {
  white-space:pre-wrap;
}

#entry_table, #save_table{
  width : 90%;
}

.text_submit {
  white_space: pre-wrap;
}

.sores {
  text-align: center;
}
