{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Browse Smartphrases{% endblock title %}
{% block page_content %}
{% block user_name %}{% endblock user_name%}


<form class="container" action="{{ url_for('routes.show_entries') }}" method="POST">
  {% block form_block %}
  {{ form.hidden_tag() }}
  <div id="search-order-options">{{ form.search_order.label }} {{ form.search_order }}</div>
  {{ form.search_query.label }} {{ form.search_query }}<br><br>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#search_options">Additional Search Options</button><br>
  <div id="search_options" class="collapse">
    <div id="search_options_specialty">{{ form.specialty.label }}:<br>{{ form.specialty }}</div>
    <div id="search_options_note_type">{{ form.note_type.label }}:<br>{{ form.note_type }}</div>
    <div id="search_options_note_part">{{ form.note_part.label }}:<br>{{ form.note_part }}</div>
  </div><br>
  <div>{{ form.submit }}</div>
  {% endblock form_block %}
</form>


<table class="table" id=entry_table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Smartpharse</th>
    <th>User</th>
    <th>Tags</th>
    <th>Saves</th>
  </tr>
  {% for entry in entries %}
  <tr>
    {% block first_table_cols scoped %}
    <td>{{ moment(entry.time_created).fromNow(refresh=True) }}</td>
    <td>{{ entry['description'] }}</td>{% if entry.too_long %}
    <td><span id="template-{{ entry.id }}">{{ entry.template_display }}</span><a class="expand_link" id="template-{{ entry.id }}">...(show more)</a></td>{% else %}
    <td id="template-{{ entry.id }}">{{ entry.template }}</td>{% endif %}
    {% endblock first_table_cols %}
    {% block user_block scoped %}<td><a href="{{ entry.user.url }}" class="profile_redirect">{{ entry.user.name }}</td>{% endblock user_block%}
    <td>{% if entry.tags %}{% for tag in entry.tags.split(',') %}<span>{{ tag }}</span>{% endfor %}{% else %}None{% endif %}</td>
    <td class="num_saves" id="{{ entry.id }}">{{ entry.num_user_saves }}</td>
    {% block buttons_block scoped %}<td id="{{ entry.id }} save_column">{% if current_user.is_authenticated %}
      <button type="button" class="btn btn-default save button" id="{{ entry.id }}">Save</button>{% endif %}{% if entry.too_long %}
      <button type="button" class="disabled too_long btn btn-default copybutton" data-clipboard-target="#template-{{ entry.id }}" id="template-{{ entry.id }}">Copy</button>{% else %}
      <button type="button" class="btn btn-default copybutton" data-clipboard-target="#template-{{ entry.id }}" id="template-{{ entry.id }}">Copy</button>{% endif %}
    </td>{% endblock buttons_block %}
  </tr>
  {% endfor %}
</table>

{% block pagination scoped %}
<div class="pagination">
  {{ macros.pagination_widget(pagination,
      endpoint,
      username=username,
      q=q,
      search_order=search_order,
      specialty=specialty,
      note_part=note_part,
      note_type=note_type,
      profile_display_type=profile_display_type)
  }}
</div>
{% endblock pagination %}

{% endblock page_content%}

{% block scripts %}
{{ super() }}
<script>

  $('button').tooltip({
  trigger: 'click',
  placement: 'bottom'
  });

  function setTooltip(btn, message) {
    $(btn).tooltip('hide')
      .attr('data-original-title', message)
      .tooltip('show');
  }

  function hideTooltip(btn) {
    setTimeout(function() {
      $(btn).tooltip('hide');
    }, 1000);
  }

  var clipboard = new Clipboard('button');

  clipboard.on('success', function(e) {
    setTooltip(e.trigger, 'Copied!');
    hideTooltip(e.trigger);
    e.clearSelection()
  });

  clipboard.on('error', function(e) {
    setTooltip(e.trigger, 'Failed!');
    hideTooltip(e.trigger);
  });

  function supportedCopy() {
    if (!Clipboard.isSupported() ) {
      $('.copybutton').remove()
    }
  }

  supportedCopy()

</script>
{% endblock %}
