{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Browse Smartphrases{% endblock %}
{% block page_content %}
{{ wtf.quick_form(form) }}
<p id="error_message"><p>
<table class="table" id=entry_table>
  <tr>
    <th></th>
    <th>Submission time</th>
    <th>Description</th>
    <th>Smartpharse Template</th>
    <th>Created by</th>
    <th>Number of times saved</th>
  </tr>
  {% for entry in entries %}
    <tr>
      <td> {{ entry[0] }}</td>
      <td>{{ moment(entry[1].time_created).fromNow(refresh=True) }}
      <td>{{ entry[1]['description'] }}</td>
      <td>{{ entry[1]["template"] }}</td>
      <td><a href="{{ entry[1].user.url }}" class="profile_redirect">{{ entry[1].user.name }}</td>

      <td class="num_saves" id="{{ entry[1].id }}">{{ entry[1].num_user_saves }}</td>
      {% if current_user.is_authenticated %}
      <td id="{{ entry[1].id }} save_column">
        <button type="button" class="btn btn-default save button" id="{{ entry[1].id }}">Save</button>
      </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
<div class="pagination">
  {% if search_query %}
    {{ macros.pagination_widget(pagination, endpoint) }}
  {% else %}
    {{ macros.pagination_widget(pagination, endpoint) }}
  {% endif %}
{% endblock %}
