{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Users{% endblock %}
{% block page_content %}
<h2>Search Options</h2>
{{ wtf.quick_form(form) }}
<table class="table" id='institution_stats'>
  <tr>
    <th>Institution</th>
    <th>Number of Submissions</th>
    <th>Number of Users</th>
  </tr>
  {% for institution in institution_stats %}
  <tr>
    <td>{{institution[0]}}</td>
    <td>{{institution[2]}}</td>
    <td>{{institution[1]}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
