{% extends "layout.html" %}
{% block content %}
  <h1>Welcome to the World's only online EMR repository!</h1>
  <p> Create a profile and sign in to add entries to the site
    so you can share smartphrases with your colleagues.</p>
  <p>Browse our site to find useful smartphrases that will
    boost your productivity!
  </p>
{% endblock %}




<!--
Want a sign in option
  If signin, redirect to signin screen
Want a view option
  If view, thne redirect to show entries
-->

<!-- <form action="{{ url_for('.add_entry') }}" method=post class="submission">
  <d1>
    <dt>Smartphrase Description
    <dd><input class=text_submit type=text size=20 name=description>
    <dt>Smartphrase Template:
    <dd><textarea class=text_submit name=template rows=5 cols=40></textarea>
    <dd><input type=submit value="Post Smartphrase">
  </d1>
</form> -->
