{% extends "bootstrap/base.html" %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('routes.show_landing') }}">EMR Smartphrase Repository</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('routes.show_entries') }}">Show Entries</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('routes.add_entry') }}">Add Entries</a></li>
      <li><a href="{{ url_for('routes.view_profile', username=current_user.name) }}">My Profile</a></li>
      {% endif %}
      <li><a href="{{ url_for('routes.show_users') }}">Show Users</a><li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('routes.log_out') }}">Log out ({{ current_user.name }})</a></li>
      {% else %}
      <li><a href="{{ url_for('routes.show_log_in') }}">Log in</a></li>
      <li><a href="{{ url_for('routes.show_sign_up') }}">Sign up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
<script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"></link>
<script src="https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js"></script>
{{ moment.include_moment() }}
{% endblock %}
