{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Users{% endblock %}
{% block page_content %}
<h2>Search Options</h2>
{{ wtf.quick_form(form) }}
<table class="table" id=entry_table>
  <tr>
    <th>Username</th>
    <th>Institution</th>
    <th>Number of Submissions</th>
    <th>Number of Submissions Saved</th>
    <th>Member since</th>
  </tr>
  {% for user in users %}
  <tr>
    <td><a href="{{ user.url }}">{{ user.name }}</td>
    <td>{{ user.institution }} </td>
    <td>{{ user.num_submissions() }}</td>
    <td>{{ user.num_saved_entries() }}</td>
    <td>{{ moment(user.time_enrolled).fromNow(refresh=True) }}</td>
  </tr>
  {% endfor %}
</table>
<div class="pagination">
  {{ macros.pagination_widget(pagination,
      endpoint)
  }}
</div>

{% endblock %}
