{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Users{% endblock %}
{% block page_content %}
{{ wtf.quick_form(form) }}
<table class="table" id=entry_table>
  <tr>
    <th>Username</th>
    <th>Institution</th>
    <th>Specialty</th>
    <th>Number of Submissions</th>
    <th>Num of saves their submissions have received</th>
    <th>Member since</th>
  </tr>
  {% for user in users %}
  <tr>
    <td><a href="{{ user.url }}">{{ user.name }}</td>
    <td>{{ user.institution }} </td>
    <td>{{ user.specialty }}</td>
    <td>{{ user.num_submissions() }}</td>
    <td>{{ num_saves }}<td>
    <td>{{ moment(user.time_enrolled).fromNow(refresh=True) }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
