{% extends "layout.html" %}
{% block page_content %}
<h1>{{ username }}</h1>
<h2>Submitted Entries</h2>
  <table class="table" id=entry_table>
    <tr>
      <th>Description</th>
      <th>Smartpharse Template</th>
    </tr>
    {% for entry in user_entries %}
      <tr id="{{ entry.id }}">
        <td>{{ entry['description'] }}</td>
        <td>{{ entry["template"]}}</td>
        {% if current %}
        <td><button class="delete_button user_entries" id="{{ entry.id }}">Delete</button><td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
<br>
<h2>Saved Entries</h2>
  <table class="table" id=save_table>
    <tr>
      <th>Description</th>
      <th>Smartpharse Template</th>
    </tr>
    {% for entry in saved_entries %}
    <tr id="{{ entry.id }}">
      <td>{{ entry['description'] }}</td>
      <td>{{ entry["template"]}}</td>
      {% if current %}
      <td><button class="delete_button saved_entries" id="{{ entry.id }}">Delete</button><td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
