{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Users{% endblock %}
{% block page_content %}
<h2>Search Options</h2>
{{ wtf.quick_form(form) }}
<table class="table" id=entry_table>
  <tr>
    <th>Username</th>
    <th>Institution</th>
    <th>Number of Submissions</th>
    <th>Number of Saves by Other Users</th>
    <th>Average Saves per Submission</th>
    <th>Member since</th>
  </tr>
  {% for user in users %}
  <tr>
    <td><a href="{{ user.url }}">{{ user[0].name }}</td>
    <td>{{ user[0].institution }} </td>
    <td>{{ user[0].num_submissions() }}</td>
    <td>{{ user[1] }}</td>
    <td>{{ user[1] / user[0].num_submissions() }}</td>
    <td>{{ moment(user[0].time_enrolled).fromNow(refresh=True) }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
